*{
    margin: 0;
    padding: 0;
}

.home-container{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('images/background.jpeg');
    background-size: cover;
    background-position: center;
    border-bottom: 3px solid rgba(234,176,66,255);
}

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    width: 100%;
    background: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
    transition: all 250ms ease-in-out;
    border-bottom: 3px solid rgba(234,176,66,255);
}

.left-nav{
    display: flex;
    align-items: center;
}

#logo{
    width: 100px;
    padding-right: 20px;
    padding-left: 20px;
    transition: all 250ms ease-in-out;
}

#title{
    text-decoration: none;
    color: rgba(33,37,82,255);
    font-size: 60px;
    font-family: 'Cinzel', serif;
    font-weight: 400;
    transition: all 250ms ease-in-out;
}

#title:hover{
    color: rgba(234,176,66,255);
}

.right-nav{
    display: flex;
    align-items: center;
}

.navbar li{
    display: inline;
    list-style: none;
    margin-right: 20px;
}

.navbar li a{
    text-decoration: none;
    color: rgba(33,37,82,255);
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    transition: all 250ms ease-in-out;
}

.navbar li a:hover{
    color: rgba(234,176,66,255);
}


.dropdown{
    position: relative;
    display: inline-block;
}
.sports{
    border: 2px solid rgba(33,37,82,255);
    border-radius: 30px;
    padding: 10px;
    transition: all 250ms ease-in-out;
    position: relative;
    color: rgba(33,37,82,255);
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    background: none;
}
.sports:hover{
    border: 2px solid rgba(234,176,66,255);
    color: rgba(234,176,66,255);
    cursor: pointer;
}
.sports-dropdown{
    position: absolute;
    padding-top: 15px;
    z-index: 1;
    display: none;
    min-width: 200px;
}
.sports-dropdown a{
    padding: 10px;
    background: rgb(216, 216, 216);
    display: block;
}
.sports-dropdown a:hover{
    background: rgb(221, 221, 221);
}
.dropdown:hover .sports-dropdown{
    display: block;
}

.socials{
    display: flex;
    z-index: 1;
    position: fixed;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 40vh;
    background: white;
    padding: 20px 10px 15px 10px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.social-img{
    width: 50px;
    transition: all 250ms ease-in-out;
}
.social-img:hover{
    width: 60px;
}

.home-content{
    color: rgba(234,176,66,255);
    font-size: 80px;
    text-align: center;
    font-family: 'Cinzel', serif;
    padding-top: 40vh;
}

.home-info{
    color: rgba(234,176,66,255);
    font-size: 100px;
}

.home-sub-info{
    color: white;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}

.player-of-the-week{
    width: 100%;
    height: 200px;
    background: rgba(33,37,82,255);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-bottom: 3px solid rgba(234,176,66,255);
}

.player-of-the-week h1{
    font-family: 'Cinzel', serif;
    font-size: 60px;
    color: rgba(234,176,66,255);
}

.player-of-the-week h2{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 30px;
}

.athletic-director{
    display: flex;
    height: 300px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.pfp{
    border-radius: 50%;
    padding: 50px;
    width: 250px;
}

.athletic-director-content h1{
    font-family: 'Cinzel', serif;
    color: rgba(33,37,82,255);
    font-size: 40px;
}

.athletic-director-content h2{
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 20px;
}


.mission{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.mission h1{
    font-family: 'Cinzel', serif;
    color: rgba(33,37,82,255);
    font-size: 80px;
    padding-top: 30px;
}
.mission h2{
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 30px;
    width: 75%;
}
.mission span{
    color: rgba(234,176,66,255);
}
.vision{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.vision h1{
    font-family: 'Cinzel', serif;
    color: rgba(33,37,82,255);
    font-size: 80px;
    padding-top: 30px;
}
.vision h2{
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 30px;
    width: 75%;
}
/* font-family: 'Cinzel', serif;
font-family: 'Montserrat', sans-serif; */

/* rgba(33,37,82,255)
rgba(234,176,66,255) */

/* border-bottom: 3px solid rgba(234,176,66,255); */